body {
  background-color: beige;
  text-align: center;
}
h1 {
  color: green;
}
.pizzaHome {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}
.page404Image {
  width: 75%;
}
.imgCredits {
  text-align: center;
  font-size: small;
}
.restaurantImage {
  max-width: 400px;
  max-height: 300px;
  border-radius: 5px;
}
